<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="#" class="navbar-brand mr-3" routerLink="/admin-home">Bus Reservation</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active" routerLink="/admin-home">Home</a>
                <!--<a class="nav-item nav-link" routerLink="/search-flight">Book Ticket</a>
                <a href="#" class="nav-item nav-link">View Booking Details</a>
                <a href="#" class="nav-item nav-link" routerLink="/Aboutus">AboutUs</a>-->
                <a href="#" class="nav-item nav-link" routerLink="/add-bus">Add Bus</a>
                <a href="#" class="nav-item nav-link" routerLink="/view-bus">View Bus</a>
                <a href="#" class="nav-item nav-link" routerLink="/view-month">View Bus By Month</a>
            </div>
            <!-- <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link" routerLink="/register" *ngIf="!login">Register</a>
                <a href="#" class="nav-item nav-link" routerLink="/Login"*ngIf=" !login">Login</a> -->
                <!-- <a href="#" class="nav-item nav-link" routerLink="/Login"*ngIf=" login" (click)=logout()>Logout</a> -->
            <!-- </div> -->
        </div>
    </div>    
</nav>

<div>
    <label>Start Date</label>
    <input type="date">
    
</div>
<div>
    <Label>End Time</Label>
    <input type="date">
</div>

<table border="1" class="table table-striped">
    <tr>
        <th>BusNo</th>
        <th>NoOfSeats</th>
        <th>Source</th>
        <th>Destination</th>
        <th>ViaStop</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>PerSeatCost</th>
        <th>BusType</th>
        <th>BusName</th>
    </tr>

    <tr *ngFor="let f of monthdetails">
       <td>{{f.BusNo}}</td>
       <td>{{f.NoOfSeats}}</td>
       <td>{{f.Source_}}</td>
       <td>{{f.Destination}}</td>
       <td>{{f.ViaStop}}</td>
       <td>{{f.StartTime}}</td>
       <td>{{f.EndTime}}</td>
       <td>{{f.PerSeatCost}}</td>
       <td>{{f.BusType}}</td>
       <td>{{f.BusName}}</td>
    </tr>

</table>
